<%= form_with model: [@blog_post, @blog_post.comments.build] do |form| %>
    <div>
      <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
      <%= form.hidden_field :commenter, value: "#{current_user.nickname}" %>
    </div>
    <div class="body-com-textarea">
      <%= form.text_area :body, class: "form-control me-2"%>
    </div>
    <br>
    
    <div class="">
    <%= form.submit (t("comments.comment_form.comment")), class: "comm-button" %>
    </div>
<% end %>