<title><%= t "title.user_index" %></title>

<h2> <%= t "user.index.info"%> </h2>


    <table>
    <tr>
        <th><%= t "user.index.name"%></th>
        <th>Email</th>
    </tr>
    <% @user.each do |user| %>
    <tr>
        <td><%= link_to user.nickname, user_path(user) %></td>
        <td><%= user.email %></td>
    </tr>
    <% end %>
    </table> 

<hr>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
