<title><%= t "title.user_show" %> <%= @user.nickname %></title>

<div class="profile_body">

    <% if @user.avatar.present? %>
        <% if @user.admin? %>
            <div class="admin_profile_avatar"><%= image_tag @user.avatar %></div>
        <% else %>
            <div class="user_profile_avatar"><%= image_tag @user.avatar %></div>
        <% end %>
    <% else %>
        <% if @user.admin? %>
            <div class="admin_profile_avatar"><%= image_tag "/assets/user_placeholder.png" %></div>
        <% else %>
            <div class="user_profile_avatar"><%= image_tag "/assets/user_placeholder.png" %></div>
        <% end %>
    <% end %>
    <% if @user.admin? %>
        <h6><%= t "user.show.name" %>: <%= @user.nickname %></h6>
        <p><i> <%= t "user.show.admin" %> </i></p>
    <% else %>
        <h6><%= t "user.show.name" %>: <%= @user.nickname %></h6>
        <p><i> <%= t "user.show.user" %> </i></p>
    <% end %>

    <% if @user.first_name == nil %>
    <h4><%= t "user.show.first_name_label" %>: <%= t "user.show.first_name" %> </h4>
    <% else %>
    <h4><%= t "user.show.first_name_label" %>: <%= @user.first_name %></h4>
    <% end %>

    <% if @user.first_name == nil %>
    <h4><%= t "user.show.last_name_label" %>: <%= t "user.show.last_name" %> </h4>
    <% else %>
    <h4><%= t "user.show.last_name_label" %>: <%= @user.last_name %></h4>
    <% end %>
    <h4>Email: <%= @user.email %></h4>
</div>

<hr>

<h3> <%= t "user.show.posts" %> <%= @user.nickname %> </h3>

    <table>
    <tr>
        <th><%= t "user.show.title" %></th>
        <th><%= t "user.show.views" %></th>
    </tr>
    <% @blog_posts.each do |blog_posts| %>
    <tr>
        <td><%= link_to blog_posts.title, blog_post_path(blog_posts) %></td>
        <td><%= blog_posts.views %></td>
    </tr>
    <% end %>
    </table> 
<br>
<% if current_user.id == @user.id %>
<%= link_to "Edytuj profil", edit_user_registration_path %>
<% elsif current_user.admin? %>
    <%= link_to "Usun", @User, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>
<br><br>
<div class="pag-block"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
<%= link_to "#{t "user.show.button"}", :back %>