<%= image_tag @user.avatar if @user.avatar.present? %>

<h4><%= t "user.show.name" %>: <%= @user.nickname %></h4>
<% if @user.admin? %>
<p><i> <%= t "user.show.admin" %> </i></p>
<% else %>
<p><i> <%= t "user.show.user" %> </i></p>
<% end %>

<% if @user.first_name == nil %>
<h4><%= t "user.show.first_name_label" %>: <%= t "user.show.first_name" %> </h4>
<% else %>
<h4><%= t "user.show.first_name_label" %>: <%= @user.first_name %></h4>
<% end %>

<% if @user.first_name == nil %>
<h4><%= t "user.show.last_name_label" %>: <%= t "user.show.last_name" %> </h4>
<% else %>
<h4><%= t "user.show.last_name_label" %>: <%= @user.last_name %></h4>
<% end %>

<h4>Email: <%= @user.email %></h4>

<hr>

<h3> <%= t "user.show.posts" %> <%= @user.nickname %> </h3>

    <table>
    <tr>
        <th><%= t "user.show.title" %></th>
        <th><%= t "user.show.views" %></th>
    </tr>
    <% @blog_posts.each do |blog_posts| %>
    <tr>
        <td><%= link_to blog_posts.title, blog_post_path(blog_posts) %></td>
        <td><%= blog_posts.views %></td>
    </tr>
    <% end %>
    </table> 
<br>
<% if current_user.id == @user.id %>
<%= link_to "Edytuj profil", edit_user_registration_path %>
<% elsif current_user.admin? %>
    <%= link_to "Usun", @User, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>
<br><br>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
<%= link_to "#{t "user.show.button"}", :back %>