<title><%= t "title.user_show" %> <%= @user.nickname %></title>
<hr>
<br>

<div class="profile_body">
    <% if @user.avatar.present? %>
        <% if @user.admin? %>
            <div class="admin_profile_avatar"><%= image_tag @user.avatar %></div>
        <% else %>
            <div class="user_profile_avatar"><%= image_tag @user.avatar %></div>
        <% end %>
    <% else %>
        <% if @user.admin? %>
            <div class="admin_profile_avatar"><%= image_tag "/assets/user_placeholder.png" %></div>
        <% else %>
            <div class="user_profile_avatar"><%= image_tag "/assets/user_placeholder.png" %></div>
        <% end %>
    <% end %>
    <br>


    <% if @user.admin? %>
        <h4 class="admin_profile_name"><%= t "user.show.name" %>: <%= @user.nickname %></h4>
        <p><i> <%= t "user.show.admin" %> </i></p>
    <% else %>
        <h4 class="user_profile_name"><%= t "user.show.name" %>: <%= @user.nickname %></h4>
        <p><i> <%= t "user.show.user" %> </i></p>
    <% end %>

    <% if @user.first_name == nil %>
        <p><b><%= t "user.show.first_name_label" %>:</b> <%= t "user.show.first_name" %> </p>
    <% else %>
        <p><b><%= t "user.show.first_name_label" %>:</b> <%= @user.first_name %></p>
    <% end %>

    <% if @user.first_name == nil %>
        <p><b><%= t "user.show.last_name_label" %>:</b> <%= t "user.show.last_name" %> </p>
    <% else %>
        <p><b><%= t "user.show.last_name_label" %>:</b> <%= @user.last_name %></p>
    <% end %>
    <p><b>Email:</b> <%= @user.email %></p>
</div>
<br>
<hr>

<br><br><br>
<div class="user_index_body">
    <h3><%= t "user.show.posts" %> <%= @user.nickname %> </h3>

        <table class="table">
        <tr>
            <th scope="row"><%= t "user.show.title" %></th>
            <th scope="row"><%= t "user.show.views" %></th>
        </tr>
        <% @blog_posts.each do |blog_posts| %>
        <tr>
            <td scope="row"><%= link_to blog_posts.title, blog_post_path(blog_posts) %></td>
            <td scope="row"><%= blog_posts.views %></td>
        </tr>
        <% end %>
        </table> 
    <br>
    <% if current_user.id == @user.id %>
    <%= link_to "Edytuj profil", edit_user_registration_path, class: "comm-button" %>
    <% elsif current_user.admin? %>
        <%= link_to "Delete Profile", @User, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "back-button" %>
    <% end %>
    <br><br>
    <div class="pag-block"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>

<br>
<%= link_to "#{t "user.show.button"}", :back, class: "back-button"%>
<br><br>
</div>