<h2> hello </h2>

<%= image_tag @user.avatar if @user.avatar.present? %>

<% if current_admin %>
<h4>Nazwa uzytkownika: <%= @user.nickname %></h4>
<p><i> Administrator </i></p>
<% elsif current_user %>
<h4>Nazwa uzytkownika: <%= @user.nickname %></h4>
<p><i> Uzytkownik </i></p>
<% end %>

<% if @user.first_name == nil %>
<h4>Imie: brak </h4>
<% else %>
<h4>Imie: <%= @user.first_name %></h4>
<% end %>

<% if @user.first_name == nil %>
<h4>Nazwisko: brak </h4>
<% else %>
<h4>Nazwisko: <%= @user.last_name %></h4>
<% end %>

<h4>Email: <%= @user.email %></h4>

<hr>

<h3> Posty Uzytkownika <%= @user.nickname %> </h3>

    <table>
    <tr>
        <th>Nazwa Posta</th>
        <th>Wyswietlenia</th>
    </tr>
    <% @blog_posts.each do |blog_posts| %>
    <tr>
        <td><%= link_to blog_posts.title, blog_post_path(blog_posts) %></td>
        <td><%= blog_posts.views %></td>
    </tr>
    <% end %>
    </table> 
<br>
<% if current_user.id == @user.id %>
<%= link_to "Edytuj profil", edit_user_registration_path %>
<% elsif current_user.admin? %>
<%= link_to "Edytuj profil", edit_user_registration_path %>
<% end %>
<br><br>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
<%= link_to "Cofnij", :back %>