<%= form_with model: @blog_post do |form| %>
    <div>
      <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
    </div>

    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
      <% @blog_post.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div>
      <%= form.label :content %>
      <%= form.rich_text_area :content %>
      <% @blog_post.errors.full_messages_for(:content).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <%= form.hidden_field :views, value: 1 %>
    <% @blog_post.errors.full_messages_for(:views).each do |message| %>
      <%= message %>
    <% end %>
    
    <% if current_user.admin? %>
    <div>
      <%= form.label :status %>
      <%= form.select :status, Opublikowany: 'published', Oczekujacy: 'pending' %>
      </div>
    <% end %>
    <%= form.submit "Zapisz" %>
<% end %>