
<h2> <%= t 'blog_post.pending.information' %> </h2>

<% @blog_post.each do |blog_post| %>
    <% if blog_post.status == "pending" %>
        <h2><%= link_to blog_post.title, blog_post_path(blog_post) %></h2>
        <p><%= blog_post.content.to_plain_text.truncate(70) %></p>
        <% if current_user.admin? %>
            <%= link_to "#{ t 'blog_post.pending.edit'}", edit_blog_post_path(blog_post) %>
            <%= link_to "#{ t 'blog_post.pending.delete'}", blog_post_path(blog_post), data: {
                turbo_method: :delete,
                turbo_confirm: "#{t 'blog_post.pending.confirm'} '#{blog_post.title}'?"
            } %>
        <% end %>
        <% if user_signed_in? %>
            <% if current_user.id == blog_post.user_id %>
                <%= link_to "#{ t 'blog_post.pending.edit'}", edit_blog_post_path(blog_post) %>
                <%= link_to "#{ t 'blog_post.pending.delete'}", blog_post_path(blog_post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "#{t 'blog_post.pending.confirm'} '#{blog_post.title}'?"
                } %>        
            <% end %>
        <% end %>
        <p><i> Status: <%= t "blog_post.pending.pend_status" %> </i></p>
        <p><i><%= t "blog_post.pending.date" %>: <%= blog_post.updated_at %></i></p>
    <% end %>
<% end %>
