
<%= @blog_post.user_id %>
<h3> Autor: <%= link_to @blog_post.user.nickname, user_path(@blog_post.user_id) %></h3>
<h3><%= @blog_post.title %></h3>
<p><%= @blog_post.content %></p>
<p> Post Wyswietlono <%= @blog_post.views %> razy <p>
<%= link_to "Cofnij", root_path %>