<title><%= t "title.show" %> <%= @blog_post.title %></title>
<br>
<hr>
<br>
<div class="card_post_show">
  <div class="card mb-3">
    <% if @blog_post.post_image.present? %>
      <div class="post_image_show"><%= image_tag  @blog_post.post_image %></div>
    <% else %>
      <div class="post_image_show"><%= image_tag "/assets/post_placeholder.png" %></div>
    <% end %>
    <hr>
    <div class="card-body">
      <h5 class="card-title"><%= @blog_post.title %></h5>
      <% if @blog_post.user.admin? %>
      <p class="card-title">
        <p><%= t "blog_post.show.author"%>: <b class="show_authorpost_admin"><%= link_to @blog_post.user.nickname, user_path(@blog_post.user_id) %></b></p>
      <% else %>
        <p><%= t "blog_post.show.author"%>: <b class="show_authorpost_user"><%= link_to @blog_post.user.nickname, user_path(@blog_post.user_id) %></b></p>
      <% end %>
      
      <p class="card-text"><%= @blog_post.content %></p>
      
      <p class="card-text"><small class="text-body-secondary">
        <% if @blog_post.status == "pending" %>
          <p><i> Status: <%= t "blog_post.show.pend_status"%></i></p>
        <% else %>
          <p><i> Status: <%= t "blog_post.body.pub_status"%></i></p>
        <% end %>
      </small></p>
      <p class="card-text"><small class="text-body-secondary"> <%= t "blog_post.show.views" %>: <%= @blog_post.views %> </small></p>
    </div>
  </div>
</div>



<%
=begin%>
  
<%
=end%>



<hr>
<h3> <%= t "blog_post.show.comments" %> </h3>
<div>
  <% @blog_post.comments.each do |comments| %>
    <%= link_to comments.commenter, user_path(comments.user_id) %><br>
    <%= comments.body %><br>
    <% if current_user.id == comments.user_id %>
      <%= link_to (t("blog_post.body.delete")), blog_post_comment_path(@blog_post, comments) , data: {
        turbo_method: :delete,
        turbo_confirm: "#{t "comments.comment_form.confirm"}"
      } %><br><br>
    <% elsif current_user.admin? %>
      <%= link_to (t("blog_post.body.delete")), blog_post_comment_path(@blog_post, comments) , data: {
        turbo_method: :delete,
        turbo_confirm: "#{t "comments.comment_form.confirm"}"
      } %><br><br>
    <% end %>
  <% end %>

</div>

<hr>
<h3> <%= t "blog_post.show.comment" %> </h3>
<%= render "comments/form" %>

<%= link_to "Cofnij", :back %>






