<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "english", root_path(locale: :en) %>
    <%= link_to "polski", root_path(locale: :pl) %>

    <p><%= t "hello" %></p>
    <hr>
    <br>
    <%= render "search/form" %>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to "Panel administratora", admin_dashboard_path %>
      <% end %>
        <% if current_user.admin? %>
          <p> Zalogowany jako: <b> <%= current_user.nickname %> (Administrator) </b></p>
        <% else %>
          <p> Zalogowany jako: <b> <%= current_user.nickname %> </b></p>
        <% end %>
      <%= link_to "profil", user_path(current_user.id) %>
      <%= link_to "edytuj", edit_user_registration_path %>
      <%= button_to "Wyloguj", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Zaloguj", new_user_session_path %>
      <%= link_to "Rejestracja", new_user_registration_path %>
    <% end %>
    <div><%= notice if notice %></div>
    <div><%= alert if alert %></div>
    <h2> <%= link_to "BlogPost", root_path %></h2>
    <hr>
    <%= yield %>
  </body>
</html>
